@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");

body {
  font-family: "Wanted Sans", sans-serif;
}

.advice hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  margin: 1rem 0;
}

.advice ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
